*{
    background-color:#112622;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color:white;
  }
  *::selection{
    background-color:#112622;
    color: #505160;
  }
  header{
    background-color:#6C8C89;
    margin-bottom: 35px;
    padding: 10px;
    padding-left: 15px;
    border-radius: 25px;
    
  }
  .name{
    border-radius:15px;
    margin-right: 70em;
    
    text-align:center;
    padding: 0.5em;
  }
  
    .player-info{
      border: solid #BF9B7A 5px;
      background-color: #BF9B7A;
      border-radius:25px;
      margin-right: 70em;
      text-align:center;
      margin-bottom:35px;
    }
    .computer-info{
      border: solid #595142 5px;
      background-color: #595142;
      border-radius:25px;
      margin-right: 70em;
      text-align:center;
  }
  
  .button {
      background-color: #86A6A0;
      border: none;
    border-radius: 25px;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 14px 5px;
      cursor: pointer;
  }
  .theme-button {
      background-color: #86A6A0;
      border: none;
      display: none;
      border-radius: 25px;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      float: right;
  }
  .rules {
    width: 85%;
    float: right;
    text-align: left;
    border: solid #6C8C89 5px;
    border-radius:25px;
    background-color: #6C8C89;
    color: #505160;
    padding-left: 15px;
    margin-bottom: 14px;
  }
  
  footer{
    text-align: center;
    border: solid #6C8C89 5px;
    border-radius:15px;
    background-color: #6C8C89;
    color: #505160;
    margin-top: 165px;
    padding: 3px;
    padding-left: 10px;
  }
  
  
  a{
    background-color:#6C8C89;
    color: white;
    text-decoration: none;
    float: right;
    margin: 0px 10px 0px 10px;
  }
  a:visited {
    color:white;
  }
  a:hover {
    background-color: #BF9B7A;
    color: white;
  }